.icon-div {
    position: absolute;
    z-index: 838383838;
    top: 20px;
    left: 50px;
}

.icon-nav {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.div-iconss {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: 0.6s all ease-in-out;
}

.iconss {
    font-size: 23px;
    cursor: pointer;
}



.addNone {
    display: none;
}

.addWidth {
    max-width: 16.666667% !important;
    transition: 0.3s all ease-in-out;
}

.removeWidth {
    max-width: 0 !important;
    transition: 0.6s all ease-in-out;
}

.coll-1 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    transition: 0.3s all ease-in-out;
}

.react-logo {
    margin-left: 45px;
}

@media only screen and (min-width: 992px) {

    .icon-div,
    .div-iconss {
        display: none !important;
        transition: 0.3s all ease-in-out;
    }

    .coll-1 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        transition: 0.3s all ease-in-out;
    }
}

@media only screen and (max-width: 992px) {
    .n {
        max-width: 0;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 44444;
    }

    .link {
        padding: auto 0px;
    }

    .coll-1 {
        flex: 0 0 16.666667%;
        max-width: 0%;
        transition: 0.3s all ease-in-out;
    }

    .text {
        font-size: 10px;
    }

    .react-logo {
        margin-left: 17px;
    }

}

@media only screen and (max-width: 500px) {
    .text {
        display: none
    }
}